/* Header */
nav .fa-solid {
    color: white;
    font-size: 1.5rem;
}
/* Main first section  */
h4 {
    color:#0084fd;
    font-weight: 800;
    font-size: 1.5rem;
}
section > div {
    border-radius: 25px;
}
section:first-child div > p {
    line-height: 2em;
    color: gray;
    font-weight: 600;
}
.fa-apple:before {
    font-size: 16px;
}
#phone img {
    width:80%;
}
section:first-of-type button {
    background-color: #0084fd;
    color: white;
    border-radius:25px;
    width: 70%;
    padding: 0.5em 1em;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
section:first-of-type a {
    text-decoration: none;
}
section .fa-solid {
    color: #0084fd;
    font-size: 5em;
}
section div .unique .fa-arrows-left-right:before  {
    color:#b5ddff;
}
.relative .fa-arrows-left-right {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 2nd Section  */
h3 {
    color: white;
    font-size: 2em;
}
section:nth-child(2) div:first-of-type p {
    line-height: 2em;
    font-weight: 600;
}
#planning2 {
    width: 100%;
}
.bgWhite h5 {
    font-size: 1.7rem;
    font-weight: 800;
}
section:nth-child(2) button {
    border-radius:50%;
    border: none;
    padding: 1em;
}
.fa-arrow-down:before {
    font-size: 20px;
    color: black;
    border: none;
}
/* 3th section  */
.testimonials h4 {
    color:#9792e4;
    font-weight: 700;
    text-align: center;
}
.testimonials p {
    line-height: 2em;
    font-weight: 500;
}
.testimonial {
    border-radius:50%;
    width: 100%;
    
}
.fa-quote-left:before, .fa-quote-right:before {
    font-size: 20px;
    color: white;
}
/* 4th section  */
.benefits h4 {
    color: white;
    text-align:center;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 1em;
}
.benefits h1 {
    font-size: 50px;
}
.benefits h1, .benefits h5 {
    color: #9792e4;
}
.benefits .bgWhite h5 {
    font-weight: 700;
}
.benefits p {
    line-height:1.5em;
}
.benefits button {
    border-radius: 25px;
    border: none;
    padding: 1em 3em;
    width: 50%;
    background-color: #9792e4;
    color: white;
    font-weight: 700;
}
/* 5th section */
#about {
    width: 70%;
    border-radius: 50%;
}
.about-us h1 {
    font-size: 25px;
    color: #9792e4;
}
.about-us h4 {
    color: #9792e4;
    font-size: 1.5em;
    font-weight: 700;
}
.about-us p {
    line-height: 2em;
}
.about-us button {
    background-color: #9792e4;
    padding: 0.5em 2em;
    border-radius: 25px;
    width: 60%;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
/* 6th section  */
.fa-circle:before {
    font-size: 10px;
    color: white;
}
.get-started h1 {
    color: #fdc15f;
    font-weight: 700;
    font-size: 3em;
}
.get-started h2 {
    color: white;
    font-weight: 700;
    text-align: center;
}
.get-started h3 {
    font-weight: 200;
    color: lightgray;
}
.get-started p {
    color: white;
    line-height: 2em;
    text-align: center;
}
.get-started button {
    color: #9792e4;
    padding:1em;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    word-spacing:1px;
    width: 60%;
}
/* footer section  */
footer p {
    color: white;
}