/* Header */
nav .fa-solid {
    color: white;
    font-size: 1.5rem;
}
/* Main first section  */
h4 {
    color:#0084fd;
    font-weight: 800;
    font-size: 1.5rem;
}
section > div {
    border-radius: 25px;
}
section:first-child div > p {
    line-height: 2em;
    color: gray;
    font-weight: 600;
}
.fa-apple:before {
    font-size: 16px;
}
#phone img {
    width:80%;
}
section:first-of-type button {
    background-color: #0084fd;
    color: white;
    border-radius:25px;
    width: 70%;
    padding: 0.5em 1em;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
section:first-of-type a {
    text-decoration: none;
}
section .fa-solid {
    color: #0084fd;
    font-size: 5em;
}
section div .unique .fa-arrows-left-right:before  {
    color:#b5ddff;
}
.relative .fa-arrows-left-right {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 2nd Section  */
h3 {
    color: white;
    font-size: 2em;
}
section:nth-child(2) div:first-of-type p {
    line-height: 2em;
    font-weight: 600;
}
#planning2 {
    width: 100%;
}
.bgWhite h5 {
    font-size: 1.7rem;
    font-weight: 800;
}
section:nth-child(2) button {
    border-radius:50%;
    border: none;
    padding: 1em;
}
.fa-arrow-down:before {
    font-size: 20px;
    color: black;
    border: none;
}
/* 3th section  */
.testimonials h4 {
    color:#9792e4;
    font-weight: 700;
    text-align: center;
}
.testimonials p {
    line-height: 2em;
    font-weight: 500;
}
.testimonial {
    border-radius:50%;
    width: 100%;
    
}
.fa-quote-left:before, .fa-quote-right:before {
    font-size: 20px;
    color: white;
}