/* Header */
nav .fa-solid {
    color: white;
    font-size: 1.5rem;
}
.dispNone a {
    color: white;
    text-decoration: none;
    margin:0 5px;
}
.dispNone button {
    border-radius: 25px;
    padding: 0.5em;
    border: none;
    background-color: white;

}

/* Main first section  */
h4 {
    color:#0084fd;
    font-weight: 800;
    font-size: 1.5rem;
}
section > div {
    border-radius: 25px;
}
section:first-child div > p {
    line-height: 2em;
    color: gray;
    font-weight: 600;
}
.fa-apple:before {
    font-size: 16px;
}
.phone{
    width:100%;
    
}

section:first-of-type button {
    background-color: #0084fd;
    color: white;
    border-radius:25px;
    width: 70%;
    padding: 0.5em 1em;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
section:first-of-type a {
    text-decoration: none;
}
section .fa-solid {
    color: #0084fd;
    font-size: 5em;
}
section div .unique .fa-arrows-left-right:before  {
    color:#b5ddff;
}
.relative .fa-arrows-left-right {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 2nd Section  */
h3 {
    color: white;
    font-size: 2em;
}
section:nth-child(2) div:first-of-type p {
    line-height: 2em;
    font-weight: 600;
}
#planning2 {
    width: 100%;
}
.bgWhite h5 {
    font-size: 1.7rem;
    font-weight: 800;
}
section:nth-child(2) button {
    border-radius:50%;
    border: none;
    padding: 1em;
}
.fa-arrow-down:before {
    font-size: 20px;
    color: black;
    border: none;
}
/* 3th section  */
.testimonials h4 {
    color:#9792e4;
    font-weight: 700;
    text-align: center;
}
.testimonials p {
    line-height: 2em;
    font-weight: 500;
}
.testimonial {
    border-radius:50%;
    width: 100%;
    
}
.fa-quote-left:before, .fa-quote-right:before {
    font-size: 20px;
    color: white;
}
/* 4th section  */
.benefits h4 {
    color: white;
    text-align:center;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 1em;
}
.benefits h1 {
    font-size: 50px;
}
.benefits h1, .benefits h5 {
    color: #9792e4;
}
.benefits .bgWhite h5 {
    font-weight: 700;
}
.benefits p {
    line-height:1.5em;
}
.benefits button {
    border-radius: 25px;
    border: none;
    padding: 1em 3em;
    background-color: #9792e4;
    color: white;
    font-weight: 700;
}
/* 5th section */
#about {
    width: 70%;
    border-radius: 50%;
}
.about-us h1 {
    font-size: 35px;
    color: #9792e4;
}
.about-us h4 {
    color: #9792e4;
    font-size: 1.3em;
    font-weight: 700;
}
.about-us p {
    line-height: 2em;
}
.about-us button {
    background-color: #9792e4;
    padding: 0.5em 2em;
    border-radius: 25px;
    width: 90%;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
/* 6th section  */
.fa-circle:before {
    font-size: 10px;
    color: white;
}
.get-started h1 {
    color: #fdc15f;
    font-weight: 700;
    font-size: 3em;
}
.get-started h2 {
    color: white;
    font-weight: 700;
    text-align: center;
}
.get-started h3 {
    font-weight: 200;
    color: lightgray;
}
.get-started p {
    color: white;
    line-height: 2em;
    text-align: center;
}
.get-started button {
    color: #9792e4;
    padding:1em 4em;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    word-spacing:1px;
}
/* footer section  */
footer p {
    color: white;
}

/* Responsive Tablet */
@media screen and (min-width:769px) {
    .wid-t-100 {
        width: 100%;
    }
    .flex-t {
        display: flex;
    }
    .flexdirectionRow-t {
        flex-direction: row;
    }
    .wrap-t {
        flex-wrap: wrap;
    }
    .wid-t-64 {
        width: 64%;
    }
    .wid-t-30 {
        width: 30%;
    }
    .wid-t-40 {
        width: 40%;
    }
    .wid-t-calc {
        width: calc(100% / 2 - 2em);
    }
    .wid-t-50 {
        width: 50%;
    }
    .wid-t-80 {
        width: 80%;
    }
    .wid-90-t {
        width: 90%;
    }
    .wid-t-100 {
        width: 100%;
    }
    .gap-t-1em {
        gap: 1em;
    }
    .phone-t {
        width: 80%;
    }
    .jtfcontFlexstart-t {
        justify-items: flex-start;
    }
    .jtfcontSpacebet-t {
        justify-content: space-between;
    }
    .textleft-t {
        text-align: left;
    }
    .text-t-900 {
        font-weight: 900;
    }
    .margin-bottom-t-0 {
        margin-bottom: 0px;
    }
    .pad-t-1em {
        padding: 1em;
    }
    #about {
        width: 60%;
    }
}


/* Responsive Desktop  */
@media screen and (min-width:900px) {
    .boxed100w {
        width:60%;
    }
    .width-d-100 {
        width: 100%;
    }
    .width-d-60 {
        width: 60%;
    }
    /* HEADER */
    nav {
        margin: 0 auto;
    }
    nav .fa-bars {
        display: none;
    }
    .dispNone {
        display: inline;
    }
    /* MAIN  */
        /* first section  */
    .demo {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding:1em 0px;
        gap: 1.5em;
    }
    .demo .block {
        display: flex;
        flex-direction: row;
        width: 65%;
    }

    .blockWid30 {
        width: 30%;
    }
    .h100desktop{
        height: 100%;
    }
    .phonecontainer {
        margin-top:  7em;
        margin-left: 0px;
        height: 72%;
        width: 100%;
    }
    /* 2nd section  */
    .strategicWid100 {
        width: 100%;
    }
    .strategic {
        width: 60%;
        margin: 0 auto;
        flex-direction: row;
    }
    .strategic img{
        width: 70%;
    }
    .strategicFlexColumn {
        display: flex;
        flex-direction: column;
    }
    .planningTwo {
        margin-top: 100px;
    }
    .strategicflex p, .strategicflex h3 {
        margin-top: 2em;
    }
    /* 3th section  */
    .sectiontestimonialsDesktop {
        margin: 0 auto;   
    }
    .testimonialsflex {
        display: flex;
        flex-direction: row;
    }
    .testimonialsflex img {
        width: 30%;
    }
    .testimonialsflex p {
        text-align: justify;
    }
    /* 4th section  */
    .benefitswid100 {
        width: 100%;
    }
    .benefitsflexRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .benefitswid33 {
        width: 30%;
        margin: 1em;
    }
    /* 5th section  */
    .about-us-desktop {
        margin: 0 auto;
        width: 60%;
        padding:0px;
    }
    .about-us h1 {
        font-size: 40px;
    }
    .aboutcontainer {
        width: 100%;
    }
    #about {
        width: 60%;
    }
    .about-us-flex {
        display: flex;
        flex-direction: row;
    }
    .about-us h4:last-child {
        color: #9792e4;
        font-size: 1.3em;
        font-weight: 700;
        padding:0 1em;
    }
    /* 6th section */
    .get-started {
        width: 100%;
    }
    .get-started span, .get-started a {
        color: white;
        word-spacing: 8px;
    }
    .footer{
    width: 100%;
    }
}
